
  <li class="collection-item" id="comment_<%= comment.id %>">
    <span class="title"><%= comment.user.name %></span>
    <span class="right"><%= comment.created_at %></span>
    <p class="pre-line"><%= comment.content %></p>
    <% if comment.user.id == current_user.id %>
      <div><%= link_to "삭제", post_comment_path(post, comment), method: "delete", remote: true, data: {confirm: "삭제하시겠습니까?"} %></div>
    <% end %>
  </li>
