<div class="container">
  <div class="center" id="logo_i">
    <i class="material-icons blue-text text-darken-2 tooltipped" data-position="right" data-delay="50" data-tooltip="Hi~ I am SNS !!" style="font-size: 300px">cloud</i>
  </div>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <button class = "waves-effect waves-red btn-large">
        <%= f.submit '로그인' %>
      </button>
      <%= link_to '회원가입', new_user_registration_url, class: "btn-large red darken-1 waves-effect waves-teal right" %>
    </div>
  <% end %>

  <br/>
  <!--<%= render "devise/shared/links" %>-->
</div>
