<div class="card post" id="post_<%= post.id %>">
  <div class="card-content" id="card_content_<%= post.id %>">
      <% if post.user.avatar.url %>
        <img class="circle thumbnail" src="<%= post.user.avatar.thumb.url %>" />
      <% else %>
        <img class="circle thumbnail" src="http://materializecss.com/images/office.jpg" />
      <% end %>
      <span class="card-title"><%= post.user.name %></span>
      <span><%= post.created_at.strftime("%y/%m/%d %p %H:%M") %></span>
      <span>
        <% if user_signed_in? && current_user != post.user %>
          <span class="follow_<%= post.user_id %>">
            <%= render partial: "follows/follow", locals: {post: post, current_user: current_user} %>
          </span>
        <% end %>
      </span>

      <div class="content">
        <div class="card-image">
          <% if post.image.url %>
            <img src="<%= post.image.url %>">
          <% end %>
        </div>
        <p class="pre-line"><%= post.content %></p>
      </div>
  </div>

  <div class="card-action" >
      <span id="card_action_<%= post.id %>">
        <%= render partial: "like", locals: {post: post, current_user: current_user} %>
      </span>
      <% if current_user.id == post.user_id %>
        <%= link_to "삭제", post_path(post.id), method: "delete", class: "right", remote: true, data: {confirm: "삭제하시겠습니까?"} %>
        <%= link_to "수정", edit_post_path(post), class: "right" %>
      <% end %>
      <%= form_tag post_comments_path(post), remote: true do %>
        <div class="input-field">
          <span id="comment_input_<%= post.id %>">
            <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "댓글을 작성해주세요.", required: true %>
          </span>
        </div>
        <div class="input-field">
          <%= button_tag "댓글 쓰기", class: "btn" %>
        </div>
      <% end %>

        <ul class="collection" id="collection_<%= post.id%>">
          <% if post.comments.present? %>
            <% post.comments.each do |comment| %>
            <%= render partial: "comments/comment", locals: {post: post, comment: comment } %>
            <% end %>
          <% end %>
        </ul>
  </div>
</div>
