<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <% if current_user.avatar.url %>
                      <img src="<%= current_user.avatar.url %>" />
                    <% else %>
                      <img src="https://s3.ap-northeast-2.amazonaws.com/sns-rails5-image/uploads/empty_avatar.jpg" />
                    <% end %>
                </div>
                <div class="card-content">
                  <div class="card-title"><%= current_user.name %> 님</div>
                    <p>Email : <%= current_user.email %></p>
                    <p>내글 : <%= @posts_count %> 개</p>
                    <p>팔로워 : <%= current_user.followers.length %> 명</p>
                    <p>팔로잉 : <span id="following_count"><%= render partial: "follows/count", locals: {current_user: current_user} %></span> 명</p>
                    <%= link_to '글쓰기', new_post_path, method: "get", class: "btn"%>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <% @posts.each do |post| %>
                <%= render partial: "post", object: post %>
            <% end %>
        </div>
    </div>
</div>
