<!DOCTYPE html>
<html lang="ko">
<html>
  <head>
    <title>SnsRails5</title>
    <%= csrf_meta_tags %>

    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper deep-orange">
          <a href="/" class="brand-logo"><i class="material-icons">cloud</i>SNS</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">

            <% if user_signed_in? %>
              <li>
                <% if current_user.avatar.url %>
                  <img class="circle thumbnail" src="<%= current_user.avatar.thumb.url %>" />
                <% else %>
                  <img class="circle thumbnail" src="http://materializecss.com/images/office.jpg" />
                <% end %>
              </li>
              <li><%= link_to current_user.name, edit_user_registration_path, method:'get' %></li>
              <li><%= link_to '글쓰기', new_post_path, method: "get"%></li>
              <li><%= link_to '프로필수정', edit_user_registration_path, method:'get' %></li>
              <li><%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to '로그인', new_user_session_url %></li>
              <li><%= link_to '회원가입', new_user_registration_url %></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">

            <% if user_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to '글쓰기', new_post_path, method: "get"%></li>
              <li><%= link_to '회원정보변경', edit_user_registration_path, method:'get' %></li>
              <li><%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to '로그인', new_user_session_url %></li>
              <li><%= link_to '회원가입', new_user_registration_url %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
