<!DOCTYPE html>
<html>
  <head>
    <title>SnsRails5</title>
    <%= csrf_meta_tags %>

    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">SNS</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/posts">Posts</a></li>
          <% if user_signed_in? %>
            <li><%= current_user.name %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_url %></li>
            <li><%= link_to 'Sign up', new_user_registration_url %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/posts">Posts</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><a href="/users/sign_in">Sign in</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
